.logos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px; /* Adjust the gap as needed */
  }

  .logo-link {
    display: block;
  }

  .logo-link:hover {
    transform: translateY(-10px);
  }

  .app-logo {
    width: 100px; /* Adjust the size as needed */
    height: auto;
    animation: float 3s ease-in-out infinite;
    transition: transform 0.2s;
  }

  /* Keyframes for the floating effect */
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
  }
